/* Espacement et bordure des colonnes */
.vbox {
    -fx-padding: 10px;
}

/* Style des étiquettes de colonnes */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

/* Style des deadlines */
.dueDateLabel {
    -fx-font-size: 10px;
    -fx-text-fill: #777;
}

.dueDateLabelChecked {
    -fx-font-size: 10px;
    -fx-text-fill: #FFF;
    -fx-background-color: #2ecc71;
    -fx-text-decoration: line-through;
}


/* Style des éléments de tâche */
.list-cell {
    -fx-padding: 5px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #f7f7f7;
    -fx-margin: 5px;
}

.list-cell:hover {
    -fx-background-color: #eee;
}

/* Séparation des colonnes */
.columns-separator {
    -fx-min-width: 10px;
    -fx-max-width: 10px;
    -fx-pref-width: 10px;
}